.container{
    text-align: center;
}

.title{
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color: aqua;
    padding-left: 15px;
}
.reset{
    width: 140px;
    height: 70px;
    border: none;
    outline: none;
    cursor:pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 22px;
    color: #26ffcb;
    margin-top: 25px;
    margin-bottom: 50px;
}


.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background-color: #1f3540;
    border: 12px solid #0f1b21;
    border-radius: 20px;
    cursor: pointer;
}

.board{
    height: 600px;
    width: 600px;
    display: flex;
    margin: auto;
}
